<!DOCTYPE html>
<html>
  <head>
    <title>Hangout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <%= link_to root_path, method: :get do %>
    HANG OUT
    <% end %>
      <% if logged_in? %>
          <%= link_to posts_path, method: :get do %>
          投稿一覧
          <% end %>
          <%= link_to new_post_path, method: :get do %>
          投稿
          <% end %>
          <%= link_to logout_path, method: :delete do %>
          ログアウト
          <% end %>
      <% else %>
          <%= link_to new_user_path, method: :get do %>
          Sing up
          <% end %>
          <%= link_to login_path, method: :get do %>
          Log in
          <% end %>
      <% end %>

    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
